@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #FFFFFF;
}

.card-container a {
    color: #b5b5b5;
}

.table-card {
    background-color:#484848;
    /* background-image: url('../../media/fantasy.png');
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin: 20px;
}
