@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.table-card {
    background-color:#d5d5d5;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
